@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;0,900;1,300&display=swap');

* {
    font-family: Kanit, sans-serif;
}

h1 {
    font-family: Kanit, sans-serif;
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 4em;
}