@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;0,900;1,300&display=swap');

* {
    font-family: Kanit, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}

/* Headings */ 

h1 {
    font-family: Kanit, sans-serif;
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 4em;
    text-align: center;
    line-height: 50px;
    margin-top: 30px;
}

h2, h3 {
    text-align: center;
}

/* Hand seclection buttons */

#selection {
    display: flex;
    width: 75%;
    margin: 30px auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
}

.hand-buttons {
    background-color: white;
    border: 4px black solid;
    border-radius: 50%;
    display: flex;
    content-visibility: auto;
    width: 120px;
    height: 120px;
}

/* Game Area */

#game-area {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    border: 4px black solid;
    padding: 20px 0;
}

.show-hand {
    width: 40%;
    height: 300px;
}

#human-hand {
    background-color: red;
}

#comp-hand {
    background-color: yellow;
}

/* Score Area */

#score-area {
    margin: 10px auto;
    text-align: center;
}

#score-area>h2 {
    font-size: 3em;
    line-height: 1;
}

#scoreboard {
    display: flex;
    font-size: 2em;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

/* Reset Score button */

#reset {
    text-align: center;
    letter-spacing: 0.5px;
    font-size: 1em;
    color: white;
    background-color: #380477;
    border: 2px solid #000000;
    padding: 0 15px;
    margin: 0 30px;
}

