@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;0,900;1,300&display=swap');

* {
    font-family: Kanit, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}

/* Hidden */

.hidden {
    display: none;
}

/* Background */

body {
    background: url(/assets/images/space-background.webp) no-repeat center center;
}

/* Headings */ 

h1 {
    font-family: Kanit, sans-serif;
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 4em;
    text-align: center;
    line-height: 50px;
}

h2, h3 {
    text-align: center;
}

/* Title */

#title {
    background-color: black;
    padding: 20px 0 10px 0;
    color: #fff;
}

#title>h2 {
    color: rgb(199 118 253);
    letter-spacing: 1.5px;
}

/* Hand seclection buttons */

#selection {
    display: flex;
    width: 75%;
    margin: 20px auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
}

.hand-buttons {
    background-color: white;
    border: 4px black solid;
    border-radius: 50%;
    display: flex;
    content-visibility: auto;
    width: 120px;
    height: 120px;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
}

.hand-buttons:hover {
    box-shadow: 0px 0px 30px 14px rgba(72, 255, 0, 0.83);
    cursor: pointer;
    transform: rotate(360deg);
    transition: all 0.3s ease-in-out 0s;
}

/* Video */

#video {
    width: 50%;
    display: flex;
    overflow: hidden;
    align-content: flex-end;
    flex-wrap: wrap;
    justify-content: center;
}

#rules-heading {
    color: white;
    font-weight: 400;
    font-size: 2em;
    padding: 10px 0;
}

/* Username Input */

#username-input {
    font-size: 1.5em;
    text-align: center;
}

/* Play game / Submit username Button */

#submit-button {
    font-size: 1.5em;
    border: 2px solid #ffffff;
    border-radius: 5px;
    padding: 0 30px;
    background-color: #3e0362;
    color: white;
    box-shadow: 0px 11px 14px 12px #270934;
}

#submit-button:hover {
    cursor: pointer;
}

/* Rules */

#game-rules {
    width: 65%;
    margin: 20px auto;
    text-align: center;
    border: 4px black solid;
    padding: 10px 0px;
}

/* Game Area */

#game-area {
    width: 65%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.62);
    border: 4px black solid;
    padding: 20px 0;
}

.show-hand {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 4px solid #000000;
    background-color: white;
}


.human-hand {
    background-image: url(/assets/images/user.webp);
    background-position: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
}

#comp-hand {
    background-image: url(/assets/images/comp.webp);
    background-position: center;
}

.name, #username-game {
    width: 100%;
    font-weight: 400;
    background-color: #380477;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
}

/* Score Area */

#score-area {
    margin: 10px auto;
    text-align: center;
}

#score-area>h2 {
    font-size: 2em;
    line-height: 1;
}

#scoreboard {
    display: flex;
    font-size: 2em;
    font-weight: 400;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

/* Reset Score button */

#reset {
    text-align: center;
    letter-spacing: 0.5px;
    font-size: 1em;
    color: white;
    background-color: #380477;
    border: 2px solid #ffffff;
    border-radius: 5px;
    padding: 0 15px;
    margin: 0 30px;
    box-shadow: 0px 11px 20px 12px #270934;
}

#reset:hover {
    cursor: pointer;
}